@import url('https://fonts.googleapis.com/css?family=Chakra+Petch');
*,body{
	font-family: 'Chakra Petch',sans-serif !important;
}
body {
	padding-top: 40px;
    padding-left: 0px;
    padding-right: 0px;
    -webkit-text-size-adjust: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;	
}

body.black_background {
	background-color: rgb(248, 248, 248);
	background-image: url(https://picsum.photos/1024/768/?blur&random);
	background-size: cover;
	background-repeat: no-repeat;
}

body.black_background .page-header {
	border-bottom: 0;
}

body.black_background .page-header  h1 {
	color:#fff !important;
}

.navbar-fixed-top {
	position: fixed;
	margin: 0;
}
.navbar-fixed-top .navbar-inner {
	padding-left: 0;
	padding-right: 0;
	background:rgba(59, 133, 218, 0.692);
}

.navbar .nav>li>a{
	color:#fff !important;
}

.navbar .nav .active>a,
.navbar .nav .active>a:hover{
	background-color:#0c4c81;
}

.sidebar-nav .btn {
	margin: 5px 0;
	width:100%;
}
.navbar .nav .divider {
	height: 1px;
	overflow: hidden;
	background-color: #444;
}

#main-container {
	padding-left: 20px;
	padding-right: 20px;
}

#main-content {
	display: table;
	width: 100%;
}

#sidebar-container {
	display: table-cell;
	vertical-align: top;
	width: 1px;
	white-space: nowrap;
}

#page-container {
	display: table-cell;
	vertical-align: top;
}

.powered {
	display: inline-block;
	white-space: nowrap;
}

.page-header {
	display: table;
	width: 100%;
}
.header-label {
	display: table-cell;
}
.header-accessories {
	display: table-cell;
	white-space: nowrap;
	text-align: right;
}
.header-accessories .btn-group {
	display: inline-block;
	vertical-align: bottom;
}
.well {
	padding: 0px;
}
.well legend{
	padding:10px;
	color:#fff;
	width:98.5%;
	background:rgba(59, 133, 218, 0.692);
}
table {
  background-color: white;
}
.tab-content {
	display: block;
	width: auto;
	padding-top: 0;
	padding-bottom: 0;
}
.tab-content.well {
	padding-top: 0px;
}
.nav-tabs {
	position: relative;
	top: 1px;
	margin-left: 10px;
	margin-bottom: 0;
	border: 0;
}
.nav-tabs > .active > a, .nav-tabs > .active > a:hover {
	background-color: #f5f5f5;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.nav-tabs > li > a, .nav-tabs > li > a:hover {
	padding: 8px 8px;
}

/** Rtl language Style */
.rtl{
	direction:rtl;
}
.rtl body,.rtl p,.rtl input,.rtl button,.rtl select,.rtl textarea,.rtl .jqplot-target{
	font-family:sans-serif;
}
.rtl .navbar .brand{
	float:right;
}
.rtl .navbar .nav{
	float:right;
}
.rtl .navbar .nav.pull-right{
	float:left;
}
.rtl .pull-right{
	float:left;
}
.rtl .pull-left{
	float:right;
}
.rtl .navbar .nav>li{
	float:right;
}
.rtl .header-accessories{
	text-align:left;
}
.rtl .form-horizontal .control-label{
	float:right;
}
.rtl .btn-group .btn{
	float:right;
}
.rtl .nav-tabs>li,.rtl .nav-pills>li{
	float:right;
}
.rtl .form-horizontal .controls{
	margin-right:190px;
}
.rtl .radio input[type="radio"],
.rtl .checkbox input[type="checkbox"]{
	float:right;
	margin-right:-18px;
}
.rtl .radio,
.rtl .checkbox{
	padding-right:18px;
}
.rtl .entity{
	text-align: right;
	margin-left:20px;
	margin-right:0;
}
.rtl .btn-group .btn:last-child{
	margin-left:0;
	-webkit-border-top-left-radius:4px;
	-moz-border-radius-topleft:4px;
	border-top-left-radius:4px;
	-webkit-border-bottom-left-radius:4px;
	-moz-border-radius-bottomleft:4px;
	border-bottom-left-radius:4px;
	-webkit-border-top-right-radius:0;
	-moz-border-radius-topright:0;
	border-top-right-radius:0;
	-webkit-border-bottom-right-radius:0;
	-moz-border-radius-bottomright:0;
	border-bottom-right-radius:0;
}
.rtl .btn-group .btn:first-child{
	-webkit-border-top-right-radius:4px;
	-moz-border-radius-topright:4px;
	border-top-right-radius:4px;
	-webkit-border-bottom-right-radius:4px;
	-moz-border-radius-bottomright:4px;
	border-bottom-right-radius:4px;
	-webkit-border-top-left-radius:0;
	-moz-border-radius-topleft:0;
	border-top-left-radius:0;
	-webkit-border-bottom-left-radius:0;
	-moz-border-radius-bottomleft:0;
	border-bottom-left-radius:0;
}
.rtl .table th, .rtl .table td {
	text-align:right;
}
.rtl .dropdown-menu{
	right:0;
	left:inherit;
}

/* Tables */
.align-middle {
	vertical-align: middle;
}
.tight {
	width: 10px;
	white-space: nowrap;
}
.nowrap {
	white-space: nowrap;
}

.table-body {
	display: table;
	width: 100%;
}
.table-row {
	display: table-row
}
.table-cell {
	display: table-cell;
	vertical-align: top;
}
.table-cell-title {
	display: table-cell;
	vertical-align: middle;
	height: 32px;
}
.table-cell-title .label {
	position: relative;
	top: -2px;
}

.table-separator {
	margin: 4px 0;
	border-top: 1px solid #EEE;
	border-bottom: 1px solid #FFF;
}

td.cell-center {
	text-align: center;
}

@media (max-width: 767px) {
	.table-cell .title, .table-cell-title .title {
		font-size: 1.1em;
		font-weight: bold;
	}
}
.table-cell-details {
	display: table-cell;
	font-size: 11px;
	font-style: italic;
	line-height: 13px;
}

/* Form */
legend {
	margin-top: 0px;
	margin-bottom: 0px;
}
.form-horizontal .control-label {
	width: 180px;
}
.form-horizontal .controls {
	margin-left: 190px;
}
.form-horizontal .form-actions {
	padding-left: 190px;
	margin-bottom: 0;
}
.form-horizontal label {
	font-weight: bold;
}
.help-block {
	font-style: italic;
	color: #666;
}

/* Status page */

h2 {
	font-size: 16px;
	line-height: 12px;
}

h2 small {
	font-size: 18px;
}


.offline, .online {
	display: inline-block;
	width: 100%;
	max-width: 320px;
}
.entity {
	text-align: left;
	padding: 10px;
	box-shadow: 0px 0px 10px #666;
	border-radius: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	cursor: pointer;
}
.entity h2 {
	margin-bottom: 10px;
}
.entity p {
	margin: 0;
	padding: 0;
}
.offline .entity {
	background:rgba(238, 42, 16, 0.8);
	color: #f7cece;
	border: 2px solid #f7cece;
}
.offline .entity.warning {
	background: #FAA732;
	color: #F3F3B1;
	border: 2px solid #F3F3B1;
}
.online .entity {
	background:rgba(97, 146, 6, 0.63);
	color: #d8f7ce;
	border: 2px solid #d8f7ce;
}
.entity-container table td {
	padding: 6px 8px;
	vertical-align: middle;
}
.row-offline, .row-online {
	cursor: pointer;
}
.row-offline td, .row-offline tr:hover td {
	background: #a00000 !important;
	color: #f7cece;
}
.row-offline td.warning, .row-offline tr:hover tr.warning {
	background: #FAA732 !important;
	color: #F3F3B1;
}
.row-online td, .row-online tr:hover td {
	background: #53a000 !important;
	color: #d8f7ce;
}
.entity-container .server-name {
	display: inline-block;
	font-size: 1.15em;
	line-height: 18px;
	font-weight: bold;
	white-space: nowrap;
}

.visible-small {
	display: none;
}

td.visible-desktop, th.visible-desktop,
td.hidden-phone, th.hidden-phone,
td.hidden-tablet, th.hidden-tablet {
	display: table-cell;
}

span.visible-desktop, span.visible-desktop,
span.hidden-phone, span.hidden-phone,
span.hidden-tablet, span.hidden-tablet {
	display: inline-block;
}

span.visible-phone, span.visible-phone,
span.visible-tablet, span.visible-tablet,
span.hidden-desktop, span.hidden-desktop {
	display: none;
}

@media (min-width: 980px) {
	.hidden-desktop {
		display: none !important;
	}
}
@media (max-width: 979px) {
	#sidebar-container {
		display: table-row;
	}
	#page-container {
		display: table-row;
	}
	.sidebar-nav .nav-list {
		padding: 0;
	}
	.sidebar-nav li.nav-header {
		display: none;
	}
	.sidebar-nav li {
		float: left;
		margin-right: 15px;
	}
	.navbar .brand {
		margin-left: -10px;
	}
	.visible-desktop {
		display: none !important;
	}
	.tab-content.well {
		padding-left: 10px;
		padding-right: 10px;
	}
}
@media (max-width: 767px) {
	td.visible-phone, th.visible-phone,
	td.hidden-desktop, th.hidden-desktop {
		display: table-cell;
	}
	span.visible-phone, span.visible-phone,
	span.hidden-desktop, span.hidden-desktop {
		display: inline-block;
	}
	td.hidden-phone, th.hidden-phone,
	td.visible-desktop, th.visible-desktop {
		display: none;
	}
	span.hidden-phone, span.hidden-phone,
	span.visible-desktop, span.visible-desktop {
		display: none;
	}
}
@media (min-width: 768px) and (max-width: 979px) {
	td.visible-tablet, th.visible-tablet,
	td.hidden-desktop, th.hidden-desktop {
		display: table-cell;
	}
	span.visible-tablet, span.visible-tablet,
	span.hidden-desktop, span.hidden-desktop {
		display: inline-block;
	}
	td.hidden-tablet, th.hidden-tablet,
	td.visible-desktop, th.visible-desktop {
		display: none;
	}
	span.hidden-tablet, span.hidden-tablet,
	span.visible-desktop, span.visible-desktop {
		display: none;
	}
}
@media (max-width: 479px) {
	#main-container, .container-fluid {
		padding-left: 10px;
		padding-right: 10px;
	}
	.form-horizontal .controls {
		margin-left: 0px;
	}
	.form-horizontal .form-actions {
		padding-left: 10px;
		text-align: center;
	}

	.entity-container {
		text-align: center;
	}
	.entity {
		margin: 0 10px 20px 10px;
	}
	.hidden-small {
		display: none !important;
	}
	.action-small {
		text-align: center !important;
		background-color: white;
	}
	.visible-small {
		display: block;
	}
	td.visible-small {
		display: table-cell;
	}
}

body.install{
    padding-top:20px;
}
.install_header h2 {
	line-height: 100px;
}
.install_header img {
	height: 100px;
}

.label-status-on, .label-status-off, .label-status-warning {
	vertical-align: baseline;
}
.label-status-on {
    background-color: #468847;
}
.label-status-off,
.label-error {
   background-color: #B94A48;
}
.label-status-warning {
   background-color: #FAA732;
}
.label a{
    color:#FFF;
    text-decoration:none;
}
.footer{
    margin-top:20px;
    border-top:1px solid #EEEEEE;
    padding-top:10px;
}
.footer a{
    font-weight:bold;
}
div.tabbable ul.nav-tabs li{
    font-weight:bold;
}
legend{
    border-color: -moz-use-text-color -moz-use-text-color #CCCCCC;
	margin-bottom: 10px;
}
.form-actions {
    background-color: transparent;
}

.form-signin {
	max-width: 300px;
	padding: 19px 29px 29px;
	margin: 0 auto 20px;
	background-color: #fff;
	border: 1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
}

.dropdown-menu span {
  display: block;
  padding: 3px 15px;
  clear: both;
  font-weight: normal;
  line-height: 18px;
  color: #333333;
  white-space: nowrap;
}

#flashmessage {
	min-width: 350px;
	width:100%;
	margin: auto;
	margin-bottom: 18px;
}

.oce-first{
	background-color:#eee;
}

/* Bootstrap 2.3.2 added icons */
.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

/* personal added icons */
.icon-chart {
  background-position: 0px -168px;
}

.icon-mobile {
  background-position: -24px -168px;
}

.icon-admin {
  background-position: -48px -168px;
}

.icon-pushover {
  background-position: -72px -168px;
}