<div class="tab-content">
	<input type="hidden" name="saveLayout_csrf" value="{{ csrf_token(csrf_key|default('')) }}" />
	<div id="flow-layout" class="tab-pane {{ block_layout_active }}">
		<div class="entity-container">
			{% for server in servers_offline %}
			<div class="offline">
				<div class="entity {{ server.class_warning }}" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
					<h2>{{ server.ip }}</h2>
					<p>{{ label_last_online }}: {{ server.last_online_nice }}</p>
					<p>{{ label_last_check }}: {{ server.last_checked_nice }}</p>
					<p>Page Speed Score: {{ server.pagespeed }}</p>
					<p>Daily Visitor : {{ server.visit }}</p>

				</div>
			</div>
			{% endfor %}
			{% for server in servers_online %}
			<div class="online">
				<div class="entity" onclick="window.location.href='{{ server.url_view|raw }}'">
					<h2>{{ server.label }}</h2>
					<h2>{{ server.ip }}</h2>
					<p>{{ label_last_online }}: {{ server.last_online_nice }}</p>
					<p>{{ label_rtime }}: {{ server.rtime }}s</p>
					<p>Page Speed Score: {{ server.pagespeed }}</p>
					<p>Daily Visitor : {{ server.visit }}</p>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
	<div id="list-layout" class="tab-pane {{ list_layout_active }}">
		<div class="entity-container">
		<table class="table table-data table-bordered">
			<thead>
<th>Name</th>
<th>IP/Domain</th>
				<th>Last Online</th>
				<th>Last Checked</th>
				<th>Latency (second)</th>
				<th>Page Speed Score</th>
				<th>Daily Visitor</th>
			</thead>
			<tbody>
					{% for server in servers_offline %}
					<tr class="row-offline" onclick="window.location.href='{{ server.url_view|raw }}'">
						<td class="{{ server.class_warning }}">{{ server.label}}</td>
						<td class="{{ server.class_warning }}">{{ server.ip }}</td>
						<td class="{{ server.class_warning }}">{{ server.last_online_nice }}</td>
						<td class="{{ server.class_warning }}">{{ server.last_checked_nice }}</td>
						<td class="{{ server.class_warning }}">{{ server.rtime }}</td>
						<td class="{{ server.class_warning }}">{{ server.pagespeed }}</td>
						<td class="{{ server.class_warning }}">{{ server.visit }}</td>
					</tr>
					{% endfor %}

						{% for server in servers_online %}
						<tr class="row-online" onclick="window.location.href='{{ server.url_view|raw }}'">
							<td >{{ server.label}}</td>
							<td >{{ server.ip }}</td>
							<td >{{ server.last_online_nice }}</td>
							<td >{{ server.last_checked_nice }}</td>
							<td >{{ server.rtime }}</td>
							<td >{{ server.pagespeed }}</td>
							<td >{{ server.visit }}</td>
						</tr>
						{% endfor %}

			</tbody>

		</table>
		</div>
	</div>
</div>

{% if auto_refresh %}
<script>
setInterval(function(){
	$.ajax({
		url:"?",
		success: function(html, status){
			$("#page-container").html(html);
			$('.table-data', $("#page-container")).DataTable();
		}
	});
}, {{ auto_refresh_seconds }} * 1000);
</script>
{% endif %}